In [1]:
import pandas as pd

In [2]:
us = pd.read_csv('09-11-2020.csv')

In [3]:
us.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-09-12 04:30:24,32.3182,-86.9023,136703,2333,54223.0,80147.0,1.0,2788.044914,1010922.0,NaN,1.706619,84000001,USA,20617.659746,NaN
1,Alaska,US,2020-09-12 04:30:24,61.3707,-152.4044,6104,43,2359.0,3702.0,2.0,834.398431,394586.0,NaN,0.704456,84000002,USA,53938.718739,NaN
2,American Samoa,US,2020-09-12 04:30:24,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1571.0,NaN,NaN,16,ASM,2823.457522,NaN
3,Arizona,US,2020-09-12 04:30:24,33.7298,-111.4312,207523,5288,32472.0,169763.0,4.0,2851.093125,1279424.0,NaN,2.548151,84000004,USA,17577.603306,NaN
4,Arkansas,US,2020-09-12 04:30:24,34.9697,-92.3731,67911,953,61245.0,5713.0,5.0,2250.344953,798358.0,NaN,1.403307,84000005,USA,26454.932129,NaN

In [5]:
us.shape

(58, 18)

In [4]:
us.isna().sum()

Province_State           0
Country_Region           0
Last_Update              0
Lat                      2
Long_                    2
Confirmed                0
Deaths                   0
Recovered               10
Active                   0
FIPS                     0
Incident_Rate            2
People_Tested            2
People_Hospitalized     58
Mortality_Rate           1
UID                      0
ISO3                     0
Testing_Rate             2
Hospitalization_Rate    58
dtype: int64

In [6]:
us.to_csv('JH_US_09_11_2020.csv')